/* Widget */

.widget {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px; 
  background: #fafafa url('../img/cream.png') repeat;
}

.widget p{
	margin: 3px 0px 5px 0px !important;
	line-height: 20px;
}

.widget hr{
	margin: 8px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.widget .table *{
	border-color:#e8e8e8 !important;
}

.widget .table.table-bordered{
	margin-bottom:0px;
	border:0px;
}

.widget .table.table-bordered tr th{
	border-top:0px;
	border-left:0px;
}

.widget .table.table-bordered tr th:last-child{
	border-right:0px;
}

.widget .table.table-bordered tr:first-child td{
	border-top:0px;
}

.widget .table.table-bordered tr:last-child td{
	border-bottom:0px;
}

.widget .table.table-bordered td{
	border-right:1px solid #ddd;
}

.widget .table.table-bordered tr td:first-child{
	border-left:0px;
}

.widget .table.table-bordered td:last-child{
	border-right:0px;
}

.widget.wblack{
  background: #fafafa url('../img/black.png') repeat;
  color: #ddd;
  border: 1px solid #222;
}

.widget.wblack hr{
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;
}

.widget.wblack a{
	color: #aaa;
}

.widget.wblack a:hover{
	color: #888;
}

.widget .padd, .modal-body{
	padding: 13px 15px;
}

.widget .widget-head,.modal-header{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #666;
	font-size: 13px;
	font-weight: bold;
    padding: 8px 15px;
}

.widget.wblack .widget-head{
  background-color: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: -webkit-linear-gradient(top, #333, #111);
  background: -moz-linear-gradient(top, #333, #111);
  background: -ms-linear-gradient(top, #333, #111);
  background: -o-linear-gradient(top, #333, #111);
  background: linear-gradient(top, #333, #111);
  text-shadow:0px 1px #000;
  border-bottom: 1px solid #555;
  border-top: 1px solid #666;
  box-shadow: inset 0px 1px 1px #444;
	color: #ccc;
}

.widget .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #999;
}

.widget.wblack .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-foot, .modal-footer{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 12px;
  color: #555;
  box-shadow: inset 0px 1px 1px #fff;
}

.widget.wblack .widget-foot{
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
  text-shadow:0px 1px #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #222;
  color: #aaa;
  box-shadow: inset 0px 1px 1px #444;
}

/* Widget white extras */

.widget .nav-tabs > li a {
   	padding: 5px 10px;
}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content{
	margin-bottom: 10px;
}

/* Widget black extras */

.widget.wblack .btn-inverse{
	border: 1px solid #212121;
}

.widget.wblack a.btn-primary, .widget.wblack a.btn-primary:hover, 
.widget.wblack a.btn-warning, .widget.wblack a.btn-warning:hover,
.widget.wblack a.btn-danger,  .widget.wblack a.btn-danger:hover,
.widget.wblack a.btn-success, .widget.wblack a.btn-success:hover,
.widget.wblack a.btn-info,  .widget.wblack a.btn-info:hover,
.widget.wblack a.btn-inverse, .widget.wblack a.btn-inverse:hover{
    color: #fff;
}

.widget.wblack .form-actions{
	border-radius: 5px;
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
	border: 1px solid #111;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.widget.wblack h2,
.widget.wblack h3,
.widget.wblack h4,
.widget.wblack h5,
.widget.wblack h6{
	color: #ddd;
}

.widget.wblack blockquote{
	border-left: 3px solid #555;
}

.widget.wblack .pagination ul > li > a, .widget.wblack .pagination ul > li > span {
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #161616;
}

.widget.wblack .pagination ul > li > a:hover{
	background: #222;
}

.widget.wblack .table td{
	border-top: 1px solid #222;
}

.widget.wblack .table tr:hover{
	background: rgba(255,255,255,0.1);
}

.widget.wblack .nav-tabs > .active > a, .widget.wblack .nav-tabs > .active > a:hover {
	background: #222;
}

.widget.wblack .nav-tabs {
    margin-bottom: 5px;
    border-bottom: 1px solid #222;
}

.widget.wblack .nav-tabs > li a {
   	padding: 5px 10px;
  	background-color: #111;
  	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
 	background: -webkit-linear-gradient(top, #222, #111);
  	background: -moz-linear-gradient(top, #222, #111);
  	background: -ms-linear-gradient(top, #222, #111);
  	background: -o-linear-gradient(top, #222, #111);
  	background: linear-gradient(top, #222, #111);
    border: 1px solid #222;
    border-bottom: 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    color: #ccc;
    font-weight: bold;
    margin-right: 5px; 
}

.widget.wblack .nav-tabs > li a:hover {
    background: #222; 
}

.widget.wblack .nav-tabs > li.active {
    border-bottom: 0px; 
}

.widget.wblack .nav-tabs > li.active a {
    color: #fff;
    background: #333 url('../img/back.png');
    border-bottom: 0px;
}

.widget.wblack .nav-tabs > li.active a:hover {
    background: #333 url('../img/back.png');            
    border-bottom: 0px; 
}

.widget.wblack .tab-content{
	margin-bottom: 10px;
}